datetime	 	 
matplotlib.pyplot
mplfinanc
numpy
pandas
pypfopt
pypfopt.discrete_allocation
pypfopt.expected_returns
pypfopt.risk_models
requests
seaborn
sklearn 	 
streamlit
urllib.parse
yfinance
streamlit==0.75.0
