datetime
math	 	 
matplotlib.pyplot
mplfinanc
numpy
pandas
from	pypfopt import EfficientFrontier
from	pypfopt import risk_models
from	pypfopt import expected_returns
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices
from	pypfopt.expected_returns import mean_historical_return
from	pypfopt.risk_models	import CovarianceShrinkage
requests
seaborn
sklearn 	 
streamlit
from urllib.parse import urlencode
yfinance
